.refund {
    max-width: 100%;
    min-height: 1024px;
    margin: 48px 0;
    padding: 64px 128px;
    display: grid;
    gap: 56px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);

}



.refund-card {
    margin: 0 auto;
    min-width: 598px;
    min-height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, fit-content);
    padding: 1rem;
    background: linear-gradient(180deg, #9849FF 0%, #841EE3 93.51%);
    text-align: center;
    position: relative;
    border-radius: 32px;

}

.refund-offer {
    font-size: 28px;

}

.seats {
    color: rgba(255, 255, 255, 0.7);
    text-align: start;
}


/* range 2 */
.range-input {
    margin-top: 10px;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    background: linear-gradient(to right, #FFC41B 25%, #ffffff 10%);
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background: #FFC41B;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}

.range-input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: #FFC41B;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}

.range-input::-webkit-slider-thumb {
    border: 2px solid white;
}

.range-input::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 4px rgba(255, 194, 27, .1)
}

.range-input:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 6px rgba(255, 194, 27, .2)
}

.range-input:focus::-moz-range-thumb {
    box-shadow: 0 0 0 6x rgba(255, 194, 27, .2)
}





.range {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.refund-design {
    position: absolute;
    background: url('./scribble final version-24.png');
    width: 80px;
    height: 80px;
    right: 0;
    top: 0;
    background-size: 100% 100%;
    transform: rotateY(-16.12deg);
}

.offer-end {
    align-content: center;
}

.refund-step-heading {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin: 2rem auto;
}

.refund-steps-list {
    margin: 0 auto;
    max-width: 1094px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-self: center;
    gap: 20px;
}

.step-button {
    position: relative;
}

.step-card {
    display: grid;
    grid-template-rows: 100px 1fr;
    gap: 20px;
}

.step-shape {
    width: 92px;
    height: 40px;
    clip-path: polygon(81% 0, 100% 51%, 82% 100%, 0 98%, 16% 52%, 0 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.strip-1 {
    position: absolute;
    right: -10px;
    top: 50%;
    width: 50%;
    height: 6px;
    background-color: rgba(196, 196, 197, 0.5);
    transform: translateY(-50%);
    z-index: 1
}

.strip-2 {
    position: absolute;
    right: -10px;
    top: 50%;
    width: calc(100% + 20px);
    height: 6px;
    background-color: rgba(196, 196, 197, 0.5);
    transform: translateY(-50%);
    z-index: 1
}

.strip-3 {
    position: absolute;
    left: -10px;
    top: 50%;
    width: 50%;
    height: 6px;
    background-color: rgba(196, 196, 197, 0.5);
    transform: translateY(-50%);
    z-index: 1
}

.step-card-heading {
    color: rgba(127, 39, 129, 1);
}

.step-box {
    background: linear-gradient(180deg, #FFFFFF 0%, #FCF5FE 100%);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}

.step-box>img {
    margin: 0 auto;
}

.card-badge-value {
    color: rgb(226, 121, 0);
    font-weight: 700;
}

.card-badge {
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(229, 229, 232, 1);
    padding: 1rem;

    border-radius: 14px;
}

.card-bottom-text {
    font-size: 14px;

}

.badge-text {
    font-size: 14px;
}

.companies-hiring {
    width: 100%;
    height: 329px;
    text-align: center;
    padding: 48px;
    color: rgba(55, 73, 87, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.company-hiring-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(257px, 1fr));
    overflow: hidden;
    justify-content: center;
    grid-template-rows: 133px;
    gap: 10px;
    flex-wrap: nowrap;
}

.company-hiring-box {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
}

@media (width<980px) {
    .refund {
        padding: 64px 48px;
    }
}

@media (width<780px) {
    .refund-card {
        min-width: 400px;
    }

    .step-card {
        grid-template-columns: 48px 1fr;
        grid-template-rows: 1fr;
        gap: 10px;


    }

    .refund-steps-list {

        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;

    }

    .step-shape {
        height: 60px;
        width: 48px;
        top: 20%;
        clip-path: polygon(53% 25%, 100% 0, 98% 76%, 55% 100%, 0 76%, 0 0);

    }

    .strip-1 {
        position: absolute;
        top: 75%;
        left: 50%;
        width: 6px;
        height: 100%;
        background-color: rgba(196, 196, 197, 0.5);
        transform: translateY(-50%);
        z-index: 1
    }

    .strip-2 {
        position: absolute;
        top: 75%;
        left: 50%;
        width: 6px;
        height: 100%;
        background-color: rgba(196, 196, 197, 0.5);
        transform: translateY(-50%);
        z-index: 1
    }

    .strip-3 {
        display: none;
    }

    .companies-hiring {
        padding: 24px;
    }
}

@media (width<480px) {
    .refund-heading {
        padding: 0 8px;
    }

    .refund-card {
        min-width: auto;
    }

    .refund {
        padding: 24px 8px;
    }

    .step-box {
        padding: 12px;
    }

    .companies-hiring {
        padding: 12px;
    }

    /* .step-card {
        padding: 12px;
    } */
}